<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.bridge.project.ProjectDAOInterface">
	<select id="selectCate" resultType="kr.goott.bridge.project.ProjectVO">
		select * from category where cateRank=0 or cateRank>1 order by cateRank 
	</select>
	<select id="selectItem" resultType="kr.goott.bridge.project.ItemVO">
		select * from Item2 where userMail = #{param1} and proCode = #{param2}
	</select>
	<insert id="inPro" parameterType="kr.goott.bridge.project.ProjectVO">
		insert into project3 (proNum,proCode,userMail,cateCode)
		values (project2_sq.nextVal,project2_sq.currVal||'/'||#{userMail}||'/'||'none'||'/'||to_char(sysdate,'MMDDHH'),#{userMail},'none')
	</insert>
	<insert id="changePro" parameterType="kr.goott.bridge.project.ProjectVO">
		insert into project2 (proNum,proCode,userMail,cateCode) 
		select proNum,proCode,userMail,cateCode from project3
	</insert>
	<select id="selectPro" resultType="kr.goott.bridge.project.ProjectVO">
		select * from project3 where userMail = #{param1}
	</select>
	<select id="selectPro2" resultType="kr.goott.bridge.project.ProjectVO">
		select * from project2 where userMail = #{param1} and proCode = #{param2}
	</select>
	<select id="selectPro3" resultType="kr.goott.bridge.project.ProjectVO">
		select * from project2 where userMail = #{param1} and proNum = #{param2}
	</select>
	<select id="selectPro4" resultType="kr.goott.bridge.project.ProjectVO">
		select * from project2 where proCode = #{param1}
	</select>
	<update id="savePro">
		update project2 set cateCode = #{cateCode},proCode = #{userMail}||'/'||#{cateCode}||'/'||to_char(sysdate,'MMDDHH'),
		proImg = #{proImg}, proName = #{proName}, proGoal = #{proGoal}, proDate = #{proDate},
		comImg = #{comImg}, comName = #{comName}, comNum = #{comNum}, account = #{account},
		comTel = #{comTel}, comEmail = #{comEmail}, comSite = #{comSite}
		where userMail = #{userMail} and proCode = #{proCode} and proNum = #{proNum}
	</update>
	<update id="saveStory">
		update project2 set proTitle = #{proTitle}, proContent = #{proContent}, proRefund = #{proRefund}
		where userMail = #{userMail} and proCode = #{proCode}
	</update>
	<insert id="saveItem">
		insert into item2 (proCode,userMail,itemNum,itemRank,itemName,itemContent,itemPrice,itemOption,
		limitCnt) 
		values (#{proCode},#{userMail},item2_sq.nextVal,#{itemRank},#{itemName},#{itemContent},#{itemPrice},#{itemOption},
		#{limitCnt}) 
	</insert>
	<delete id="delItem">
		delete from item2 where userMail = #{userMail} and proCode = #{proCode} and itemRank = #{itemRank}
	</delete>
	<update id="saveProOk">
		update project2 set proWait = #{proWait}
		where userMail = #{userMail} and proCode = #{proCode}
	</update>
	<delete id="delPro3">
		delete from project3
	</delete>
	<select id="selectRecord"  resultType="kr.goott.bridge.project.ProjectVO">
		select * from project where cateCode=#{cateCode} and proCode=#{proCode}
	</select>
	<select id="selectDate" resultType="kr.goott.bridge.project.ProjectVO">
		select to_char(proOpen, 'YYYY-MM-DD') proOpen, to_char(proEnd, 'YYYY-MM-DD') proEnd, proDate ,proCode, cateCode
		from project where cateCode=#{cateCode} and proCode=#{proCode}
	</select>
	<select id="deTailAs" resultType="String">
		select proRefund from project where cateCode=#{cateCode} and proCode=#{proCode}
	</select>
	<select id="replyOpen" resultType="kr.goott.bridge.deTailPage.ReplyVO">
		select userMail, userImg, replyContent, to_char(replyDate,'YYYY-MM-DD HH:MM') replyDate, proCode
		from reply where proCode=#{proCode} order by replyNo desc 
	</select>
	<insert id="replyWrite" parameterType="kr.goott.bridge.deTailPage.ReplyVO">
		insert into reply(userMail, userImg, proCode, replyNo, replyContent, userIp, replyDate) 
		values(#{userMail}, #{userImg}, #{proCode}, replySq.nextVal, #{replyContent}, #{userIp}, sysdate)
	</insert>
	<select id="itemList" resultType="kr.goott.bridge.project.ItemVO">
		select * from item where proCode=#{proCode}
	</select>
	<select id="selectSpt" resultType="kr.goott.bridge.deTailPage.SptVO">
		select member.userImg userImg, proCode, pay.userMail userMail, totalPrice, to_char(payDate,'YY-MM-DD HH:MI') payDate 
		from member,pay where proCode = #{proCode} and member.userMail=pay.userMail
	</select>
	<select id="selectStatus" resultType="kr.goott.bridge.project.ProjectVO">
		select TRUNC(proEnd-sysdate) remainingDay, TRUNC((proNow/proGoal)*100) proGoalRate, proNow from project where proCode=#{proCode}
	</select>
	<update id="endProject">
		update project2 set writeFinish = 'Y'
		where userMail = #{userMail} and proCode = #{proCode}
	</update>
</mapper>