@charset "UTF-8";
/* font */
@font-face{
	font-family: 'yaBold';
	src: url(font/yanoljaB.TTF) format('truetype');
}
@font-face{
	font-family: 'yaReg';
	src: url(font/yanoljaR.TTF) format('truetype');
}
@font-face{
	font-family: 'nanumB';
	src: url(font/NanumBarunpenB.TTF) format('truetype');
}
@font-face{
	font-family: 'nanumR';
	src: url(font/NanumBarunpenR.TTF) format('truetype');
}

/* default */
body{
	font-family: yaReg, yaBold, nanumR, nanumB, gulim, Arial, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:1.3;
	margin:0;
	padding:0;
}
img {
	border:none;
}
br{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color:#666;
	text-decoration: none;
	border-collapse: 0;
}
a:hover{
	text-decoration: none;
}

/* frequent */
button{
	border:none;
	color:#555;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.hover-pointer{
	cursor: pointer;
}
.width-auto{
	width:80%;
	margin:0 auto;
}
.spacing{
	letter-spacing: 2px;
}
.percent::after{
	content:"%";
	margin-left:2px;
}
.won::after{
	content:"원";
	margin-left:2px;
}
.date::after{
	content:"일";
	margin-left:2px;
}
.cnt-txt::after{
	content:"개";
	margin-left:2px;
}
.del-line{
	text-decoration: line-through;
}
input:focus, button:focus{
	outline:none;
}
.txt-none{
	font-size:0;
	padding:0;
	margin:0;
}


/* header */
header{
	border-bottom:1px solid #ddd;
}
header a:hover{
	font-weight: bold;
}
header .wrap{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
header ul {
	overflow: hidden;
	letter-spacing: 0;
}
header ul li{
	float: left;
}
/* 이용안내 */
header .top-guide{
	position: absolute;
	width: 100%;
}
header .guide-toggle{
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: 25;
	top: 25px;
	left: 5%;
	background: none;
}

/* 이용안내 버튼 기본값 */
header .toggle-bar{
    position: absolute;
    top: 12px;
}
header .toggle-bar, 
header .toggle-bar::before, 
header .toggle-bar::after{
	width: 30px;
	height: 4px;
	border-radius: 2px;
	left: 0;
	background: #021044;
	transition: 0.3s ease all;
}
header .toggle-bar::before, 
header .toggle-bar::after{
    content: "";
    position: absolute;
}
header .toggle-bar::before{
	margin-top: 10px;
}
header .toggle-bar::after{
	margin-top: -10px;
}
/* 이용안내 버튼 활성화 */
header .toggle-bar.on{
	background-color: transparent;
}
header .toggle-bar.on::before,
header .toggle-bar.on::after{
	margin:0;
	top: 0px;
	transition: 0.3s ease all;
}
header .toggle-bar.on::before{
	transform: rotate(45deg);
}
header .toggle-bar.on::after{
	transform: rotate(-45deg);
}
header .top-logo, 
header .top-menubar{
	height: 80px;
	vertical-align: top;
}
/* 이용안내 컨텐츠 비활성화 */
header .guide-wrap{
	display: none;
	width: 100%;
	position: absolute;
	z-index: 10;
}
/* 이용안내 메뉴 */
header .guide-wrap .guide-menu{
	width: 320px;
	text-align: right;
	min-width: 270px;
	height: auto;
	position: absolute;
	top: 130px;
	left: 0px;
}
header .guide-menu li{
	margin-top: 30px;
	float: none;
}
header .guide-menu li input[type="button"]{
	border:none;
	background:none;
	height: 50px;
	font-size: 20pt;
	font-family: inherit;
}
/* 이용안내 컨텐츠 활성화 */
header .guide-wrap.show{
	display:block;
	background: #fff;
}
/* 이용안내 컨텐츠 */
header .guide-content{
	width: 66%;
	height: auto;
	position: absolute;
	top: 0;
	left: 370px;
	padding-top: 155px;
	padding-left: 30px;
	border-left: 1px solid #ddd;
}
header .guide-content .title{
	margin-bottom: 50px;
}
header .guide-content .title h3{
	font-size: 25pt;
	color: #021044;
	font-family: nanumB;
}
header .guide-content .title h4{
	font-size: 14pt;
	font-family: nanumR;
	color: #666;
	border-left: 5px solid #92D1E0;
	padding-left: 7px;
	margin-top: 3px;
}
header .guide-content article{
	padding: 0 5%;
}
header .guide-content article > *{
	padding-bottom: 30px;
	font-size: 12.5pt;
}
header .guide-content article img{
	width:80%;
	margin: 0 auto;
	display: block;
	padding: 45px 0;
}
header .guide-content article p{
	font-family: nanumR;
	font-weight: bold;
}
header .guide-content article .underline{
	font-size:14pt;
	margin-bottom:7px;
	border-bottom:1px solid black;
	display:inline-block;
}
header .guide-content article .caution{
	color:red;
}
header .guide-content article .highlight{
	background-color: #35EFAC;
}
header .top-logo{
	display: inline-block;
	position: relative;
	z-index: 20;
	width: 150px;
	margin-left: 5%;
	padding-left: 50px;
}
header .top-logo span{
	position: absolute;
	width: 150px;
	top: 11px;
	font-size:11pt;
	color:#666;
}
header .top-logo h1{
	font-size: 35pt;
	position: absolute;
	top: 14px;
}
header .top-logo h1 a{
	color:#021044;
}
header .top-menubar{
	display: inline-block;
	width: 75%;
	position: absolute;
}
header .top-menubar ul li{
	width: 18%;
	font-size: 18pt;
	text-align: center;
	line-height: 70px;
	margin-top: 10px;
}
header .top-menubar ul li:last-child{
}
header .top-menubar .menu-title:hover a{
    color:#021044;
    font-weight: bold;
}
header #top-etc{
    width: 25%;
}
.project-search{
	width:20px;
	float: right;
}

.project-search input{
	float:left;
}
.project-search.show{
	width:210px;
}
.project-search input[type="text"]{
	display:none;
	border: none;
	border-bottom: 1px solid #666;
	padding: 0 5px;
	height: 23px;
	width:85%;
}
.project-search .search-toggle{
	width: 15px;
	height: 15px;
	background: url('../img/common/search-btn-gray.png') no-repeat 0 0;
	background-size: 100%;
	vertical-align: top;
	margin : 3px 5px 0 0;
	border:none;
}
header .top-login{
	position: relative;
	padding-right: 55px;
}
header .top-login li{
	float:left;
	margin-left: 10px;
	display: block;
}
header .top-login li.log-ok{
	display: none;
}

header .top-controller{
	position: fixed;
	right: -100px;
	bottom: 50px;
	z-index: 50;
	transition: 1s ease all;
	transform: rotate(180deg);
	background: url('../img/common/arrow.png') no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	background-size: 60%;
	border: 1px solid pink;
	background-color: white;
	width: 70px;
	height: 70px;
	font-weight: bold;
}
header .top-controller.show{
	right: 120px;
	transition: 1s ease all;
}
header .top-controller span{
	transform: rotate(180deg);
	display: inline-block;
	padding-top: 30px;
}
/* 로그인 & 로그아웃 */
#top-etc .top-login li{
	margin: 0 15px 0 0;
	height: 70px;
	float: right;
	width: fit-content;
}
#top-etc .top-login li a{
	line-height: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	font-size: 13pt;
	width: 100%;
	border-radius: 6px;
}

/* 로그인 전 버튼 (로그인/회원가입) */
#top-etc .top-login li a.non-log{
	line-height: 60px;
}

/* 내펀딩오픈하기 */
#top-etc .top-login li.funding-open-btn a{
	transition: 0.5s ease all;
	border-radius: 6px;
	background-color: #021044;
	position: absolute;
	top: 30px;
	right: 40px;
	width: 50%;
	min-width: 140px;
	height: 30px;
	margin-right: 7%;
}
#top-etc .top-login li.funding-open-btn a:hover{
	background-color: #fff;
	font-weight: normal;
	color:#666;
	border:1px solid #ddd;
}
header .top-login li.funding-open-btn a{
	color:white;
}

/* 로그인 상자 */
#login-div{
	border: 1px solid gray;
	border-radius: 20px;
	width: 265px;
	height: 335px;
	padding: 20px;
	position: absolute;
	right: 15px;
	margin-top: -20px;
	background: white;
	z-index: 8;
}

#login-h2{
	font-size: 4em;
} 

#login-user-mail, #login-user-pwd{
	width: 95%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
    margin-top: 20px;
    padding-left: 5px;
}

#login-btn{
	width: 120px;
    height: 40px;
	border-radius: 5px 5px 5px 5px;	
	border: 1px solid gray;
	margin-top: 20px;
    margin-bottom: 15px;
    background: #021044;
    color: white;
    margin-left: 75px;
}

#login-text{
	text-align: center;
	font-size: 1.2em;
}
#login-text a:hover{
	font-weight: normal;
	text-decoration: underline;
	color: orange;
}
#login-warning{
	color: red;
	font-size: 1.2em;
}

#adminlogin{
	color: white;
	cursor: pointer;
}

#adminlogin-div{
	width: 25%;
    height: 500px;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    margin-top: 7%;
}
#admin-div{
	text-align: center;
    padding: 5%;
}
#adminlogin-h2{
	font-size: 4em;
	margin-top: 15%;
    margin-bottom: 15px;
}
#adminlogin-user-mail{
	width: 70%;
    height: 40px;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#adminlogin-user-pwd{
	width: 70%;
    height: 40px;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#adminlogin-btn{
	width: 75%;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #021044;
    color: white;
}
#adminIdsession{
	color: white;
}

.admin-header{
	color:white;
}



/* 마이페이지 myinfo */
#mypage-Div{
	border: 1px solid #999;
	border-radius: 10px;
	width: 260px;
	height: 270px;
	position: absolute;
	top: 75px;
	right: 3%;
	z-index: 8;
	background: white;
}
#mypage-Div h2{
	font-size: 2.3em;
	margin: 5px 30px;
	font-weight: 100;
}
#mypage-Div ul li{
	float: none;
}
#mypage-Div ul li h3{
	font-size: 1.5em;
	padding: 5px 30px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	font-weight: normal;
	background: #f1e5e0;
}
#mypage-Div ul li a{
	font-size: 1.3em;
	padding-left: 20%;
	width: 80%;
	padding-bottom: 5px;
	display: inline-block;
}
#mypage-Div ul li a:first-child{
	padding-top:5px;
}
#mypage-Div ul li a:hover{
	background: #ddd;
	font-weight: normal;
}
#header-img{
	width: 40px;
	height: 40px;
	border-radius: 100px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
}




/*////////// admin-header //////////*/
header .admin-header-wrap {
	background-color:#021044;
}
header .admin-header-wrap .top-logo span,
header .admin-header-wrap .top-logo h1 a,
header .admin-header-wrap .top-menubar li a{
	color:#fff;
}
header .admin-header-wrap .top-menubar li:hover a{
	color:#2f407e;
}
.admin-header-wrap .top-login{
	padding: 0;
	position: static;
}
.admin-header-wrap #top-etc .top-login li{
	float: none;
	display: inline-block;
	width: 20%;
}
.admin-header-wrap #top-etc .top-login li a{
	line-height: 70px;
}





