@charset "UTF-8";
/* font */
@font-face{
	font-family: 'yaBold';
	src: url(font/yanoljaB.TTF) format('truetype');
}
@font-face{
	font-family: 'yaReg';
	src: url(font/yanoljaR.TTF) format('truetype');
}
@font-face{
	font-family: 'nanumB';
	src: url(font/NanumBarunpenB.TTF) format('truetype');
}
@font-face{
	font-family: 'nanumR';
	src: url(font/NanumBarunpenR.TTF) format('truetype');
}

/* default */
body{
	font-family: yaReg, yaBold, nanumR, nanumB, gulim, Arial, sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:1.3;
	margin:0;
	padding:0;
}
img {
	border:none;
}
br{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color:#666;
	text-decoration: none;
	border-collapse: 0;
}
a:hover{
	text-decoration: none;
}

/* frequent */
button{
	border:none;
	color:#555;
}
button:hover,
input[type=button]:hover{
	cursor: pointer;
}
.width-auto{
	width:80%;
	margin:0 auto;
}
.spacing{
	letter-spacing: 2px;
}
.percent::after{
	content:"%";
	margin-left:2px;
}
.won::after{
	content:"원";
	margin-left:2px;
}
.cnt-txt::after{
	content:"개";
	margin-left:2px;
}
.del-line{
	text-decoration: line-through;
}
input:focus, button:focus{
	outline:none;
}
.txt-none{
	font-size:0;
	padding:0;
	margin:0;
}


/* header */
header{
	border-bottom:1px solid #ddd;
}
header a:hover{
	font-weight: bold;
}
header .wrap{
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 10px 10px 0;
}
header ul {
	overflow: hidden;
	letter-spacing: 0;
}
header ul li{
	float: left;
}
.info-toggle{
    position: absolute;
    background: #000;
    top: 45px;
    padding: 0;
}
.info-toggle, .info-toggle::before, .info-toggle::after{
	width: 30px;
	height: 4px;
	border-radius: 2px;
}
.info-toggle::before, .info-toggle::after{
    content: "";
    position: absolute;
    background: #000;
    left:0;
}
.info-toggle::before{
	margin-top: -13px;
}
.info-toggle::after{
	margin-top: 9px;
}
.top-logo, .top-menubar{
	height: 80px;
	vertical-align: top;
}
header .top-logo{
	display: inline-block;
	margin: 0 50px;
}
header .top-logo span{
	position: absolute;
	top: 11px;
	font-size:11pt;
	color:#666;
}
header .top-logo h1{
	font-size: 35pt;
	margin-top: 7px;
	line-height: 60px;
}
header .top-logo h1 a{
	color:#021044;
}
header .top-menubar{
	display: inline-block;
	width: 70%;
}
header .top-menubar ul li{
	width: 10%;
	font-size: 18pt;
	text-align: center;
	margin: 10px 5%;
	line-height: 60px;
}
header .top-menubar ul li:hover a{
    color:#021044;
    font-weight: bold;
}
header #top-etc{
	position:absolute;
	top:10px;
	right:0;
	width: 100%;
}
header .top-search{
	width:20px;
	float: right;
}
header .top-search.show{
	width:210px;
}
header .top-search input{
	float:left;
}
header .top-search input[type="text"]{
	display:none;
	border: none;
	border-bottom: 1px solid #666;
	padding: 0 5px;
	height: 23px;
}
header .top-search .search-toggle{
	width: 15px;
	height: 15px;
	background: url('../img/common/search-btn-gray.png') no-repeat 0 0;
	background-size: 100%;
	vertical-align: top;
	margin : 3px 5px 0 0;
	border:none;
}
header .top-login{
	font-size: 13pt;
	float: right;
}
header .top-login li{
	float:left;
	margin-left: 10px;
	display: block;
}
header .top-login li.log-ok{
	display: none;
}
header .top-login li.funding-open-btn{
	position: absolute;
	top: 30px;
	right: 30px;
	border: 1px solid #ddd;
	padding: 3px 10px;
	margin-left: 0;
	border-radius: 6px;
	background-color: #021044;
}
header .top-login li.funding-open-btn a{
	color:white;
}

