@charset "UTF-8";
	.marginleft{
				margin-top: 10%;
				margin-right: 5%;
				}
	.marginleft div, .marginright div{
    margin-bottom: 2%;
}
	.marginright{
				margin-top: 10%;
				margin-left:1%;
				}
	.wrap{margin:0 10%}
	.selectTap{border-bottom: 5px solid #92D1E0;}
	ruby{
			text-shadow: 1px 0 black;
			color: white;
			position: absolute;
			top: 70px;
			width: 80%;
			margin-left: -40%;
	}
	ruby span{
		
font-size: 30pt;
	}
	ruby rt{
	
font-size: 20pt;
	}
	#left{
		  width: 63%;
		  float: left;
		  }
	#right{
		   width: 30%;
		   text-align:center;
		   float:left;
		   }
	#topback img{
				 width:100%;
				 position: absolute;
				 top: -50%;
				 left: 0;
	}
	#topback{
			filter:blur(5px);
			height: 190px;
			}
	#topTap{
			width: 100%;
			height: 190px;
			text-align: center;
			color:black;
			font-size:2.5em;
			position: relative;
			top: 0;
			left:0px;
			z-index:2;
			}
	#border{overflow:hidden;height: 190px;}
	#tap td{
			
width: 8%;
			
font-size: 16pt;
			
height: 50px;
			
text-align: center;
			
cursor: pointer;
			
letter-spacing: 5px;
			}		
	#tap {width: 60%;margin: 0 auto;}
	#thumbnail{
			   width: 80%;
			   height: 300px;
			   margin: 0 auto;
			   margin-bottom: 50px;
			   }
	#slider{width: 230px;
			overflow: hidden;
			float:left}
	#thumbnail img{width:230px}	
	#hidden{width: 800px;}	   
	#company{
			 width: 70%;
			 height: 95px;
			 border-style:solid;
			 border-color:#92D1E0;
			 border-radius:10px;
			 font-size: 2em;
			 overflow: hidden;
			 margin: 0 auto;
			 padding: 10px 10%;
			 }
	#comTitle{
			  width: 70%;
			  float: left;
			  margin: 0 0 0 10%;
			  }
	.real{
		  width:100%;
		  height:300px;
		
		  font-size: 2em;
		  }		 
	.camgo{
		  width:100%;
		  font-size: 2em;
		  }			  
	#comimg{
			min-width: 70px;
			float:left;
			margin: 0;
			width: 20%;
			}
	#comimg img{
				width: 70px;
				height: 70px;
				border-radius: 35px;
				overflow: hidden;
				}
	#right #big input[type="button"]:first-child{width:205px}
	#line{
		  }
	#line span{
			   font-size:0.8em;
	}
	#detail{font-size: 2em;}
	#thumbnail iframe{
			width:100%;
	}
	#goal{
		  background: #dcdcdc;
		  width: 80%;
		  margin: 0 auto;
		  }
	#firstblk p{line-height: 48px;}
	#firstblk input[type=button]{
								 background:#92D1E0;
								 border:none;
								 color:white;
								 font-size: 0.8em;
								 border-radius: 5px;
								 width: 100px;
								 height: 35px;
								 }
	#firstblk input[type=button]:hover{background:#2d899d}
	#second>li,#second>ul{
		   list-style-type:disc;
		   padding-left: 26px;
		   font-size:0.8em;
		   text-align:left;
		   }	
	#second li{margin-bottom:15px}
	.option{cursor: pointer;
			border:1px solid lightgray;
			border-radius:10px;
			padding:3%}
	.option:hover{
				  background:#d6fcf9
				  }
	.topMargin{
			   margin-top:10%
			   }
	#optionStr span{
					font-size:2em
					}
	.left{
		  float:left;
		  font-size: 1.5em;
		  line-height: 15px;
		  }
	.right{
			text-align:right;
			font-size: 1.3em;
			}
	#text{
		  text-align:left;font-size: 1.5em;
		  }
	#punding{
			 text-shadow: -1px 1px grey;
			 width: 80%;
			 margin: 0 auto;
			 background:#92D1E0;
			 color:white;
			 line-height: 45px;
			 height: 45px;
			 cursor:pointer;
			 letter-spacing: 2px;
			 }
	#like{
		  height: 45px;
		  line-height: 45px;
		  width: 40%;
		  margin: 0 auto;
		  border:1px solid lightgray;
		  cursor:pointer;
		  }
	#like img{
			  width: 100%;
			  vertical-align: middle;
			  }
	#like div{
			display: inline-block;
			vertical-align: middle;
		}
	#sideBtn{
	width: 30px;
	}	
	#full{
		  display:none;
		  }		  
	#ask{
		 width:30%;
		 float:left;
		 margin-left:4.5%;;
		 border:1px solid lightgray;
		 height:43px;
		 line-height:1.8;
		 cursor:pointer;
		 }
	#deTail{
    margin-top: 20px;
}
	.wrap .detail-content{
		width:80%;
		margin: 0 auto;
	}

	#likes #num{
	margin-left: 5%;
	}
	.project-preview #topTap{
		background: gray;
	}
	.project-preview #back,
	#ReViewOk{
		font-family:'yaReg';
		font-size:18pt;
		position: fixed;
			
		top: 250px;
			
		left: 150px;
			
		z-index: 10;
			
		display: inline-block;
			
		width: 100px;
			
		height: 100px;
			
		line-height: 100px;
			
		border-radius: 50px;
			
		background: #edb4f7;
			
		text-align: center;
	}
	.project-preview #back:hover{
		color: black;
	}
	#deTail img,
	#deTail iframe{
		max-width: 100%;
		display: block;
	}
	.guide-input-txt{
		font-size: 12pt;
	}