@charset "UTF-8";

header{
	border-bottom: none;
}
header .top-menubar, header #top-etc {
	display: none;
}
.guide-wrap{
	width:90%;
	margin: 0 auto;
}
.guide-menu{
	width: 20%;
	margin-top: 100px;
	float: left;
	min-width: 270px;
}
.guide-menu li{
	margin: 30px;
}
.guide-menu li input[type="button"]{
	border:none;
	background:none;
	height: 50px;
	font-size: 20pt;
	font-family: inherit;
}
.guide-content{
	width: 66%;
	float: left;
	margin-top: -90px;
	padding: 150px 0 0 5%;
	height:800px;
	border-left: 1px solid #ddd;
}
.guide-content .title{
	margin-bottom: 50px;
}
.guide-content .title h3{
	font-size: 25pt;
	color: #021044;
	font-family: nanumB;
}
.guide-content .title h4{
	font-size: 14pt;
	font-family: nanumR;
	color: #666;
	border-left: 5px solid #92D1E0;
	padding-left: 7px;
	margin-top: 3px;
}
.guide-content article{
	padding: 0 5%;
}
.guide-content article > *{
	padding-bottom: 30px;
	font-size: 12.5pt;
}
.guide-content article img{
	width:80%;
	margin: 0 auto;
	display: block;
	padding: 45px 0;
}
.guide-content article p{
	font-family: nanumR;
	font-weight: bold;
}
.guide-content article .underline{
	font-size:14pt;
	margin-bottom:7px;
	border-bottom:1px solid black;
	display:inline-block;
}
.guide-content article .caution{
	color:red;
}
.guide-content article .highlight{
	background-color: #35EFAC;
}

	