@charset "UTF-8";

.home-wrap{
    position: absolute;
    width: 100%;
}
.home-wrap .background{
    position: absolute;
    width: 48%;
}
/* 배경분할 */
.home-wrap #guide-back{
    border-top-style: solid;
    border-top-color: #021044;
    border-right: 80px solid transparent;
    left: 0;
    z-index: 1;
}
.home-wrap #reward-back{
	border-bottom-style: solid;
    border-bottom-color: #92D1E0;
    right: 0;
    border-left: 80px solid transparent;
}

.home-wrap #reward-back a{
    text-shadow: 1px 1px 1px gray;
}
.home-wrap .background > *{
	position: absolute;
	z-index: 5;
	left: 37%;
	text-align: left;
	font-size: 30pt;
	font-family:inherit;
	color:#fff;
	width: auto;
	height: auto;
	background: none;
}
.home-wrap .background span{
    font-size:10pt;
    font-family: nanumR;
}
.home-wrap .background img{
    top: 6px;
    display: block;
    width: 75px;
    position: absolute;
    left: -40%;
}
.home-wrap #reward-back img{
    width:60px;
}