.wrap{
	width:80%;
	margin: 100px auto;
}
.idpwd-center{
	margin: 0 auto;
	width: 61%;
} 
#idpwd-div{
	width:50%;
	margin: 50px auto;
	min-width: 404px;
}
.idpwd-title{
	overflow: hidden;
	margin-bottom: -1px;
}
.idpwd-title li{
	border: 1px solid gray;
	font-size: 2em;
	width: 49.5%;
	height: 40px;
	line-height: 40px;
	border-radius: 10px 10px 0 0;
	text-align: center;
	
	float: left;
	color: #021044;
}
.idpwd-title li.on{
	background: #021044;
	color: white;
}
.idpwd-title li:last-child{
}
#idpwd-h2{
	font-size: 4em;
	text-align: center;
}
.idpwd-content{
	font-size: 2em;
	border: 1px solid gray;
	border-radius: 0 0 5px 5px;
}
.idpwd-content div form{
	padding: 5%;
	margin: 20px 0;
}
.idpwd-content div form .text{
	width:70%;
}
.idpwd-content div form input[type="button"],
.idpwd-content div form input[type="submit"]{
	border: 1px solid gray;
	border-radius: 5px;
	width: 63%;
	height: 40px;
	background: #021044;
	color: white;
	margin-left: 36%;
	margin-bottom: 40px;
	margin-top: 15px;
	display: inherit;
	font-family: 'yaReg';
	font-size: 12pt;
}
.idpwd-content div form .col.blank{
	margin-left: 36%;
	margin-bottom: 30px;
}
.idpwd-content div form .col.blank input{
	width:100%;
	padding: 0;
}
.idpwd-content div form .col.blank input:first-child{
	padding-left: 5%;
	width: 94%;
}
.idpwd-content div form .col span{
	margin-right: 3%;
	width: 32%;
	display: inline-block;
	font-size: 16pt;
	line-height: 35px;
}
.idpwd-content div form .col input{
	width: 57%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	padding-left: 5%;
	margin: 5px 0;
}
.idpwd-content div form .col p{
	font-size: 12pt;
	margin-left: 40%;
}
#id-search{
	font-size: 0.7em;
	text-align: center;
}
#warning{
	color: red;
	margin-top:15px;
}






