@charset "UTF-8";
.wrap.project a{
	display: inline-block;
	width: 100%;
}
#cke_content a{
	display: inherit;
	width: auto;
}

.wrap.project{
	width: 60%;
	margin: 50px auto;
}
#proNav h1{
	margin-left: 15px;
}
/* 상단 네비 */
#proCategory{
	width:100%;
	margin:30px auto;
	overflow: hidden;
}
#proCategory div{
	float:left;
	width:24.8%;
	text-align:center;
}
#proCategory div a{
	display: inline-block;
	width:100%;
	height:50px;
	line-height:50px;
	text-decoration:none;
	background: white;
}
#proCategory div a.on{
	color:white;
	background:#000066
}
#proCat1,#proCat2,#proCat3{
	border-left:1px solid gray;
	border-top:1px solid gray ;
	border-bottom:1px solid gray
}
#proCat4{
	border:1px solid gray
}

#proBody{
	margin-top: 80px;
	overflow: hidden;
}
#proTitle li{
}
#proRight li{
	font-size:1.6em;
	text-align:left;
	margin-left:30px;
	margin-bottom:60px;
	color:#000066;
}
.saveNext{
	width:100%;
	height:60px;
	background:#000066;
	color:white;
	text-align:center;
}
.saveNext a{
	font-size:2em;
	line-height:60px;
	color:white;
}

#proCat1{}
#proCat1 a{}
/* 이미지 업로드 */
.inputImg{
}
.inputImg label {
	text-align: center;
	width: 340px;
	height: 35px;
	line-height: 35px;
	background-color: #ddd;
	font-weight: bold;
	letter-spacing: 6px;
	cursor: pointer;
	transition: background-color 0.2s;
	margin: 0 auto 10px;
}

.inputImg label:hover {
  background-color: #4dffc3;
}

.inputImg label:active {
  background-color: #24f7a3;
}

.inputImg input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#loadImg,#loadImg2{
	width: 350px;
	height: 250px;
}
input{font-size:1.5em}

#preview{
	position: fixed;
	z-index: 5;
	top: 230px;
	right: 70px;
	padding: 20px;
	border-radius: 45px;
	width: 150px;
	background: #efdcc4;
	font-size:1.5em;
}
#preview a{
	display: inline-block;
	font-size: 1.4em;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}
#preview a:hover{
	color:red
}
#preview span{
	font-family: 'nanumR';
	font-size: 11pt;
	color: #232323;
}
#preview strong{
	color:red;
	font-weight: bold;
}

#proTitle li{
	border-bottom: 1px solid #c7c7c7;
	overflow: hidden;
	padding: 0px 1% 20px;
	margin-bottom: 20px;
}
#proTitle li div{
	display: inline-block;
	vertical-align: top;
}
#proTitle li div:first-child{
	width: 25%;
}
#proTitle li div:first-child > *{
	display: block;
}
#proTitle li div:first-child strong{
	font-size: 21pt;
	color: #021044d9;
	margin-bottom: 5px;
}
#proTitle li div:first-child span{
	font-size: 10pt;
	font-family: 'nanumR';
	font-weight: bold;
}
#proTitle li div:last-child{
	width: 57%;
	/* margin: 10px 0 10px 5%; */
}
.project #proTitle li div:last-child{
	margin: 10px 0 10px 5%;
}
#proTitle li div:last-child > *{
	border: 1px solid #c7c7c7;
	display: inline-block;
	padding: 0 5px;
	font-family: 'nanumR';
	font-size: 12pt;
	color:#666;
	border-radius: 5px;
}
#proTitle li div:last-child img{
	padding: 0;
}
#proTitle li div:last-child input[type="text"]{
	width: 100%;
	height: 40px;
	font-weight: bold;
}
#proTitle li div:last-child select{
	border: 1px solid gray;
	width: 50%;
	height: 35px;
	font-weight: bold;
}
#proTitle li div:last-child input[name="proGoal"]{
	width: 50%;/*판매금액*/
}
div.won::after{
	font-size: 17pt;
	padding-left: 5px;
	color: #4a4a4a;
}


/*    스토리        */
.guide-toggle{
	color:red;
	padding-top:10px;
}
.story #proTitle li div:last-child{
	width: 67%;
	margin-left: 3%;
}
#proTitle li div:last-child input[name="proTitle"]{
	width: 73%;
	padding: 0 2%;
}
#proTitle li div:last-child #titleBtn{
	width: 20%;
	margin-left: 2%;
	height: 40px;
	font-weight: bold;
}
#proTitle li div iframe {
	margin-top:10px;
	height: 300px;
}
#proTitle li.row-block div:first-child,
#proTitle li.row-block div:last-child{
	display: block;
	width:100%;
}
#proTitle li.row-block div:first-child{
	margin-bottom: 20px;
	overflow: hidden;
}
#proTitle li.row-block div:first-child > *{
	/* float: left; */
}
#proTitle li.row-block div strong{
	
width: 25%;
}
#proTitle li.row-block div:first-child span{
	
line-height: 40px;
}
#proTitle li.row-block div #cke_content *{
	margin:0
}
#proTitle li.row-block div:last-child{
	margin:0;
	border:none;
}
#proTitle li.row-block div:last-child #cke_content{
	border:none;
}
#proTitle li.row-block div:last-child #cke_content #cke_1_contents{
	width: 98%;
}
#proTitle li div:last-child textarea {
	width: 100%;
	height: 300px;
}


/*  inputItem   */
#proTitle .input-item div:last-child,
#proTitle div:last-child .tableDiv{
	
width: 67%;
	
margin-left: 5%;
}
#proTitle .input-item div:last-child ul{
	width: 100%;
	padding: 0;
}
#proTitle .input-item div:last-child ul li{
	border-bottom: 1px solid #c7c7c7;
	padding: 15px 10px;
	margin-bottom:15px;
}
#proTitle .input-item div:last-child div:first-child {
	
padding-left: 2%;
	
width: 15%;
	
line-height: 40px;
	
font-weight: bold;
}
#proTitle .input-item div:last-child input[name="itemPrice"],
#proTitle .input-item div:last-child input[name="limitCnt"]{
	width: 50%;
}
#proTitle .input-item div:last-child .cnt-txt::after,
#proTitle .input-item div:last-child .won::after{
	font-size: 14pt;
	padding-left: 5px;
	font-weight: bold;
	color: #4a4a4a;
}
#proTitle .input-item div:last-child ul li.bottom-none{
	border-bottom: none;
}
#proTitle .input-item div:last-child ul li.itemSave{
	font-family:'nanumR';
	margin: 0 auto 30px;
	width: 30%;
	height: 40px;
	min-width: 150px;
	padding: 0;
	background: #fb6969;
}
#proTitle .input-item div:last-child ul li.itemSave a{
	line-height: 40px;
	width: 100%;
	display: inline-block;
	font-size: 13pt;
}
/* 리워드 리스트 테이블 */
.pro-item ul#proTitle li #rewardList{
	width: 67%;
}
.pro-item ul#proTitle li #rewardList table{
	width: 100%;
	padding: 0;
}
table thead{
}
.tableDiv table thead,
.tableDiv table tbody{
	
display: inline-block;
	
width: 100%;
}
.tableDiv table thead tr,
.tableDiv table tbody tr{
	width: 100%;
	border-bottom: 1px solid #c7c7c7;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.tableDiv table thead tr td{
	font-weight: bold;
}
.tableDiv table tr td{
	display: inline-block;
	text-align: center;
	font-size: 10pt;
}
.tableDiv table tr td.col1{
	width: 4%;
}
.tableDiv table tr td.col2{
	width: 19%;
}
.tableDiv table tr td.col3{
	width:25%;
}
.tableDiv table tr td a{
	color:#fb6969;
	font-weight: bold;
}

/* 승인요청 */
.pro-ok #proTitle div:last-child{
	width: 66%;
}
.pro-ok #proTitle input[type="radio"],
.pro-ok #proTitle input[type="checkbox"]{
	vertical-align: top;
}
.pro-ok #proTitle div:last-child span{
	display: inline-block;
	width:90%;
	margin-left: 5px;
	border: none;
}
.pro-ok .last-check{
	width: 80%;
	margin: 0 auto 30px;
	text-align: center;
}
.pro-ok .last-check div{
	font-size: 14pt;
	display: inline-block;
}


 	