@charset "UTF-8";
#proBody{
	width:60%;
	/* border:1px solid gray; */
	margin:50px auto;
	overflow: hidden;
	}
#proBody div{
	float:left
}
#proLeft{
	width:20%;
	
}
#proRight{
	width:20%;
	
}
#proMid{
	
	width:60%
}
#proTitle li{
	font-size:2em;
	text-align:left;
}
#proRight li{
	font-size:1.6em;
	text-align:left;
	margin-left:30px;
	margin-bottom:60px;
	color:#000066;
}
.ex{font-size:0.7em;color:#4dffc3}
.inputData{
	width:100%;
	height:50px;
	/* border:1px solid #ccc;
	background:#eee; */
	text-align:center;
	margin-bottom:35px;
	/* box-shadow:0px 1px 5px lightgray; */
}
#selectOpt1{}
.row1,.row2,.row3{
	height:70px;margin-bottom:35px;color:#000066
}
.row2{height:800px;}
.row3{height:250px}
#proLeft li{margin-top:20px}

.saveNext{
	width:100%;
	height:60px;
	background:#000066;
	color:white;
	text-align:center;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #666;
}
.saveNext a{
	font-size:2em;
	line-height:60px;
	color:white;
}

#proCat1{background:white}
#proCat1 a{color:#666}
#proCat2{background:#000066}
#proCat2 a{color:white}

#proRefund{width:100%;height:100%; box-shadow:1px 1px 10px lightgray}




