@charset "UTF-8";
.wrap{
	width:80%;
	margin: 100px auto;
}
#join-center input.join-btn{
	background: #021044;
	color: white;
	width: 69%;
	font-family: 'yaReg';
	font-size: 15pt;
}
.join-div{
	margin-bottom: 25px;
}
#warning-id, #email-ok-label{
	color: red;
}

#join-h1{
	margin-bottom: 35px;
	font-size: 4em;
	width: 100%;
	text-align: center;
}
.join-div label{
	font-size: 1.4em;
	margin: 10px 0 10px 35%;
	display: inherit;
}
#user-email{
	margin-left: 85px;
	padding-left: 5px;
}
#ok-number{
	width: 62%;
    height: 40px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid;	
	margin-left: 125px;
    margin-bottom: 10px;
    padding-left: 5px;
}
#join-center{
	margin: 0 auto;
	width: 40%;
}
#join-center input{
	width: 64%;
	padding: 0 2%;
	margin: 0;
	height: 40px;
	border-radius: 5px;
	border: 1px solid gray;
	float: right;
}
#join-center .join-div span{
	display: inline-block;
	width: 25%;
	height: 40px;
	line-height: 40px;
	font-size: 18pt;
	text-align: left;
}
#join-center .join-div{
	overflow: hidden;
}