#login-div{
	border: 1px solid gray;	
	border-radius: 20px 20px 20px 20px;
	width: 265px;
    height: 315px;
    padding: 20px;
    position: absolute;
    margin-left: 80%;
    margin-top: -50px;
    background: white;
}

#login-h2{
	font-size: 4em;
}

#login-user-mail, #login-user-pwd{
	width: 265px;
    height: 40px;
	border-radius: 5px 5px 5px 5px;	
	border: 1px solid gray;
	margin-top: 20px;
	padding: 6px;
}

#login-btn{
	width: 120px;
    height: 40px;
	border-radius: 5px 5px 5px 5px;	
	border: 1px solid gray;
	margin-top: 20px;
    margin-bottom: 15px;
    background: #021044;
    color: white;
    margin-left: 75px;
}

#login-text{
	text-align: center;
	font-size: 1.2em;
}