@charset "UTF-8";
	#main{
<<<<<<< HEAD
		  /* border:1px solid; */
		  padding: 1%;
		  background: antiquewhite;
		  border-radius: 15px;
	}
	.leftSide{
			  float:left;
			  font-size:2em;
			  text-align: center;
			  border-right: 1px solid lightgray;
			  width: 15%;
	}
	.rightSide{
			   float:right;
			   font-size:2em;
			   width: 81%;
	}
	.line{
			height:40px;
			line-height: 40px;
	}
	#content{
			font-size:1.5em;
			padding-left: 85px;
			margin-bottom: 10px;
	}
	#reset{
			width:30%;
			background:yellow;
			height:50pxpx;
			position:sticky;
			top:0px;
			left:150px;
	}
	#result{
		    width: 50%;
		    height: 50px;
		    background: antiquewhite;
		    margin-left: 27%;
		    font-size: 2em;
		    text-align: center;
		    line-height: 45px;
		    border-radius: 0px 0px 10px 10px;
	}
	#userInfo, #payInfo{
			border:1px solid;
			height: 500px;
			margin-top:40px;
	}
	.infoTap{
			font-size: 2em;
 	        text-align: center;
    		height: 40px;
    		border-bottom: 3px solid lightgray;
    		line-height: 38px;
    		width: 60%;
    		margin-left: 19%;
    		margin-bottom: 25px;
    		margin-top:10px;
	}
	#user, #addr{
			float:left;
			width:50%;
			height:100%;
	}
	 #paySelect {
			float:left;
			width:48%;
			height:420px;
	}
	.stop{
			float:left;
			width: 20%;
			font-size:2em;
			margin-left:10%;
	}
	.input{
			border:none;
			background:none;
			border-bottom:2px solid lightgray;
			width: 50%;
			height:35px;
	}
	#guid{
			    margin-left: 7.5%;
   				width: 80%;
			    margin-top: 10px;
			    background: lightcoral;
			    padding: 3%;
			    border-radius: 10px;
	}
	#guid span{
			font-size:1.8em;		
	}
	#guid ul{
			list-style-type:circle;
			padding-left:15px;
			font-size:1.4em;
	}
	#radios{
			text-align:center;
			font-size:1.5em;
			cursor:pointer;
	}
	#migan{
			margin-left:10%;
	}
	#zipcode{
			border:none;
			background:none;
			border-bottom:2px solid lightgray;
			width: 25%;
			height:35px;
			float:left;
	}
	#search{
			border:1px solid;
			width: 20%;
			margin-left: 59.5%;
			height: 38px;
			text-align: center;
			font-size: 1.5em;
			line-height: 36px;
			cursor: pointer;
	}
	.move{
			margin-left:30%;
	}
	.pay_title{
			font-size:1.5em;
			padding:2%;
			
	}
	#pay_Content{
				height:30px;
	}
	#btn1, #btn2{
			float:left;
			border:1px solid;
			font-size:1.2em;
			margin-left:10%;
			width:25%;
			height:30px;
			text-align:center;
			line-height:30px;
			cursor:pointer;
	}
	#btn1{
			margin-left:20%;
	}
	#CardEnroll{
			border:1px solid;
			margin-left:10%;
			width:80%;
			height:50px;
	}
	#CardEnroll div{
			float: left;
    		height: 50px;
    		line-height: 47px;
    		font-size: 1.5em;
	}
	#enroll1{
   			 text-align: center;
   			 width:70%;
	}
	#enroll2{
			width:30%;
			text-decoration: underline;
	}
	#guid2{
			width: 76%;
    		margin-left: 10%;
    		margin-top: 5%;
    		background: aliceblue;
    		padding: 2%;
    		border-radius: 10px;
	}
	#guid2_title{
			font-size: 1.5em;
    		margin-bottom: 1%;
    		text-align:center;
	}
	#guid2_content{
			font-size:1.2em;
	}
	#payCard{
			float:left;
			height:400px;
			width:50%;
			padding:1%;
			font-size:1.5em;
	}
	.tel{
			width:15%;
			float:left;
			border-radius:5px;
			margin-left:1%;
	}
	#card_num{
			height:25px;
	}
	.card_content{
			float:left;
			width: 40%;
	}
	.card_year{
			float:left;
			width: 40%;
			height: 20px;
	}
	.card_year select{
			width:60%;
	}
	.left10{
			margin-left:10%;
	}
	#prv{
			width:200px;
			height:50px;
			font-size: 2em;
    		text-align: center;
    		line-height: 2;
    		float: left;
    		margin-top: 35px;
    		margin-left: 30%;
    		margin-bottom:40px;
    		background:#92D1E0;
    		border-radius:10px;
    		cursor:pointer;
	}
	#enter{
			width:200px;
			height:50px;
			font-size: 2em;
    		text-align: center;
    		line-height: 2;
    		float: left;
    		margin-top: 35px;
    		margin-left: 100px;
    		margin-bottom:40px;
    		background:#92D1E0;
    		border-radius:10px;
    		cursor:pointer;
	}
	.on{
			background:#92D1E0;
	}
	.off{
			background:lightgray;
			
=======
		  border:1px solid;
		  
	}
	.leftSide{
			  float:left;
	}
	.rightSide{
			   float:right;
>>>>>>> branch 'detailPage' of https://github.com/kimjh11/bridge_funding.git
	}