@charset "UTF-8";
	.checkBox{
				border-top:1px solid;
				font-size:2em;
				padding:2%;
	}
	#last{
			border-bottom:1px solid;
	}
	.sel1{
		width:15%
	}
	#next{
		    width: 15%;
		    text-align: center;
		    height: 50px;
		    line-height: 50px;
		    font-size: 2em;
		    background: #92D1E0;
		    margin-left: 13.5%;
		    margin-top: 40px;
		    margin-bottom: 40px;
		    border-radius: 10px;
		    cursor:pointer;
		    float:left;
	}
	#pev{
		    width: 15%;
		    text-align: center;
		    height: 50px;
		    line-height: 50px;
		    font-size: 2em;
		    background: #92D1E0;
		    margin-left: 29.5%;
		    margin-top: 40px;
		    margin-bottom: 40px;
		    border-radius: 10px;
		    cursor:pointer;
		    float:left;
	}
	.OneSpter{
			  border-bottom:1px solid  lightgray;
			  width:90%;
			  height:110px;
			  margin-bottom:0px;
			  font-size:1em
	}
	.Img{
		 width:80px;
		 float:left;
		 margin-left:10%; 
		 margin-right:5%
		 
	}
	.Spter{
			padding-top:15px;
	}
	.Img img{
			 width:100%;
		 	 border-radius:60px;
		 	 border:1px solid lightgray;
	}	
	.Time{
		  font-size:0.8em;
	}
	#ex{
		float:left;
		padding-top:20px;
	}