<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.bridge.admin.AdminDaoInterface">
	<select id="selectReward" resultType="kr.goott.bridge.admin.Project2VO">
		select * from project2 order by proNum desc
	</select>
</mapper>